@charset "utf-8";
#a {
    border-color: gray;
    border-width: 10px;
    border-style: dotted;
    background-color: aqua;
    border-radius: 15px;
    /*Primer formato*/
    border-radius: 15% 30%;
    /*Segundo formato*/
    border-radius: 15px 30px 10px;
    /*Tercer formato*/
    border-radius: 15px 0 15px 30px;
    /*Cuarto formato*/
}

#b {
    border-color: rebeccapurple;
    border-width: 7px;
    border-style: groove;
    background-color: green;
    /*Primer formato*/
    border-radius: 30% 50%;
    /*Segundo formato*/
    border-radius: 30px 50px 10px;
    /*Tercer formato*/
    border-radius: 30px 0 15px 50px;
    /*Cuarto formato*/
}

#c {
    border-color: red;
    border-width: 9px;
    border-style: inset;
    background-color: yellow;
    /*Primer formato*/
    border-radius: 20% 40%;
    /*Segundo formato*/
    border-radius: 20px 40px 10px;
    /*Tercer formato*/
    border-radius: 20px 0 10px 40px;
    /*Cuarto formato*/
}