@charset "utf-8";
.valid1 {
    background: pink;
    color: white;
    margin: 1px;
    display: inline;
}

.rang {
    background: rgb(240, 235, 236);
    color: white;
    margin: 1px;
    display: inline;
}

.abuelo {
    background: rgb(109, 226, 105);
    color: peru;
    margin: 1px;
    display: inline;
}

.padre {
    background: rgb(231, 71, 197);
    color: paleturquoise;
    margin: 1px;
    display: inline;
}