@charset "utf-8";
#a {
    border-color: gray;
    border-width: 10px;
    border-style: dotted;
    background-color: aqua;
}

#b {
    border-color: rebeccapurple;
    border-width: 7px;
    border-style: groove;
    background-color: green;
}

#c {
    border-color: red;
    border-width: 9px;
    border-style: inset;
    background-color: yellow;
}