@charset "utf-8";

/*color*/

#primero {
    background-color: blue;
    background-color: transparent;
    background-color: lightpink;
    background-color: rebeccapurple;
    color: red;
}


/*rgb*/

#segundo {
    background-color: rgb(124, 80, 10);
    background-color: rgb(0, 0, 34);
    color: rgb(255, 255, 0);
}


/*hexadecimal*/

#tercero {
    background-color: #512592;
    background-color: #000000;
    background-color: #451;
    color: #caee28;
}


/*hsl*/

#cuarto {
    background-color: hsl(35deg, 0%, 100%);
    background-color: hsl(120deg, 25%, 75%);
    background-color: hsl(5deg, 20%, 20%);
    color: pink;
}